:root {
  --main-color: rgb(98, 189, 176);
  --faded-main-color: rgba(98, 189, 176, 0.59);
}

html {
  background-color: lightgrey;
}

body {
  margin: 0;
  color: black;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: smaller;
  cursor: default; /* enforces the default cursor of the platform */
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

h2 {
  font-size: small;
  margin: 0;
  display: inline-block;
}

.input-box {
  height: 30px;
  line-height:20px;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn {
  border-radius: 3px;
  border: none;
  cursor: pointer;
  min-width: 60px;
  height: 30px;
  line-height: 30px;
  margin: 0 0 0 20px;
  padding: 0 8px;
  outline: none;
}


.panel-header .btn {
  min-width: 30px;
  height: 20px;
  line-height: 20px;
}

.input-box .btn {
  width: 60px;
  height: 30px;
  line-height: 30px;
  margin: 0 0 0 20px;
  padding: 0 8px;
}

.btn:hover {
  color: white;
  background-color: darkgrey;
}

#deleteButton {
  background-color: red;
  color: white;
  font-weight: bold;
}
#deleteButton:hover {
  background-color: #801515;
}

form {
  display: flex;
}

.file-input {
  height: 15px;
  flex: 1;
  border:  none;
}

.input-box .input {
    height: 30px;
}

.file.dir {
  padding-left:  5px;
}

.input-box .input {
  flex: 1;
  border: none;
  border-radius: 3px;
  outline: none;
  line-height: 15px;
  padding: 0 10px;
  background-color: rgba(240, 240, 240, 1);
  -webkit-font-smoothing: antialiased;
  cursor: text;
}

.input-box .input:hover {
  border: none;
  background-color: rgba(255, 255, 255, 1);
}

.input-box .input:focus {
  border: none;
  background-color: rgba(255, 255, 255, 1);
}

.file {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  word-break: break-all;
}

.file { background: ghostwhite; }
.file:nth-child(odd) { background: #DDD; }

.filename.selected {
  font-weight: bold;
}

.filename.marked-for-deletion {
  font-weight: bold;
  color: red;
}


.file:hover {
  background-color: rgb(121, 219, 190);
}

.filename {
  align-self: flex-start;
  flex:  1;
  margin-left: 5px;
  margin-right: 10px;
  word-break: break-all;
}

.filemodificationdate {
  width:  75px;
  margin-left: 10px;
  margin-left: 10px;
}

#app {
  height: 100vh;
  display: grid;
  grid-template-rows: 80px 1fr 50px;
  grid-template-columns: 1fr 1fr;
}

header {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background: lightgrey;
  color:  black;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#container-left {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background: lightgrey;
  padding: 5px;
  min-height: 0; /* Prevents the grid to extend outside of the visible area */
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-row-gap: 5px;
  outline: none;
}

#container-right {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background: lightgrey;
  padding: 5px;
  min-height: 0; /* Prevents the grid to extend outside of the visible area */
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-row-gap: 5px;
  outline: none;
}

footer {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  background: lightgrey;
  color:  black;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin:  0 5px 5px 5px;
}

.panel {
  border: 1px solid darkgrey;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.panel-content {
  padding: 5px;
  overflow-y: scroll;
  min-height: 0;
}

.panel-header {
  height:  20px;
  min-height:  20px;
  padding: 5px;
  background-color: var(--faded-main-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.panel-header.focused {
  background-color: var(--main-color);
}


/* force scrollbar to be always visible on Mac OS */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.danger {
  border: 1px solid red;
  background-color: #FFAAAA;
}

.btn.link {
  margin:  0 15px 0 15px;
}

.search-form > .btn {
  margin: 0;
}

.search-form > input {
  margin-right: 5px;
}