:root {
  --main-color: rgb(98, 189, 176);
}

html {
  background-color: rgba(27, 38, 54, 1);
}

body {
  margin: 0;
  color: black;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: smaller;
  cursor: default; /* enforces the default cursor of the platform */
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

h2 {
  font-size: small;
  margin: 0;
  display: inline-block;
}

.input-box {
  height: 20px;
  line-height: 20px;
  margin: 1.5rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn {
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.input-box .btn {
  width: 60px;
  height: 30px;
  line-height: 30px;
  margin: 0 0 0 20px;
  padding: 0 8px;
}

.btn:hover {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  color: #333333;
}

.input-box .input {
  flex: 1;
  border: none;
  border-radius: 3px;
  outline: none;
  height: 30px;
  line-height: 15px;
  padding: 0 10px;
  background-color: rgba(240, 240, 240, 1);
  -webkit-font-smoothing: antialiased;
  cursor: text;
}

.input-box .input:hover {
  border: none;
  background-color: rgba(255, 255, 255, 1);
}

.input-box .input:focus {
  border: none;
  background-color: rgba(255, 255, 255, 1);
}

.fileinfo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  word-break: break-all;
}

.filename.selected {
  font-weight: bold;
}

.fileinfo:hover {
  background-color: rgb(121, 219, 190);
}

.filename {
  align-self: flex-start;
  flex:  1;
  margin-right: 10px;
  word-break: break-all;
}

.filemodificationdate {
  width:  75px;
  margin-left: 10px;
  margin-left: 10px;
}

#app {
  height: 100vh;
  display: grid;
  grid-template-rows: 80px 1fr 30px;
  grid-template-columns: 1fr 1fr;
}


header {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background: lightgrey;
  color:  black;
  padding: 10px;
}

#container-left {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background: lightgrey;
  padding: 5px;
  min-height: 0; /* Prevents the grid to extend outside of the visible area */
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-row-gap: 5px;
  outline: none;
}

#container-right {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background: lightgrey;
  padding: 5px;
  min-height: 0; /* Prevents the grid to extend outside of the visible area */
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-row-gap: 5px;
  outline: none;
}

footer {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  background: lightgrey;
  color:  black;
  padding: 10px;
}

.panel {
  border: 1px solid darkgrey;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.panel-content {
  padding: 5px;

  overflow-y: scroll;
  min-height: 0;
}

.panel-header {
  height:  20px;
  min-height:  20px;
  padding: 5px;
  background-color: var(--main-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/* force scrollbar to be always visible on Mac OS */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
